<%- include("header") -%>

<span class="greeting" style="width: 100%; text-align: center;">Login or Register</span>
<div class="new">

    <br>
    <a href="/register"><button type="submit" class="add">Register</button></a>
    <a href="/login"><button type="submit" class="add">Login</button></a>

</div>

<%- include("footer") -%> 